@charset "utf-8";
/* CSS Document */

		#map {
			display:block;
				margin:20px;
			padding:40px 0px;
			width:100%;
			height: 600px;
 		background:url(https://workcompauto.optum.com/content/dam/owca/test/usa-covid19-map/usa-map-covid_opt.svg) top left no-repeat #fff;
 		font-family:arial, helvetica, sans-serif;
			font-size:11px;
			line-height: 14px;
			
		}
		
		
		
		#map li {
			margin:0;
			padding:0;
			list-style:none;
		}
		
		#map li a {
			position:absolute;
			display:block;
			/*
			   Specifying a background image
			   (a 1px by 1px transparent gif)
			   fixes a bug in older versions of
			   IE that causeses the block to not
			   render at its full dimensions.
			*/
   				background:url(blank.gif);
   			text-decoration:none;
			color:#000;
		}
		
		#map li a span { display:none; }
		
		#map li a:hover span {
			position:relative;
			display:block;
			width:370px;
			left:0px;
			top:0px;
			border:1px solid #434448;
			background:#fff;
			padding:5px;
 			filter:alpha(opacity=90);
			opacity:0.9;
  		}
	
		#map a.ca {
			top:280px;
			left:70px;
			width:90px;
			height:285px;
		}
		
		
		#map a.ak {
			top:520px;
			left:60px;
			width:100px;
			height:200px;
		}
		
				
		#map a.nd {
			top:110px;
			left:400px;
			width:80px;
			height:100px;
		}
		
		#map a.mn {
			top:105px;
			left:500px;
			width:50px;
			height:150px;
		}
		
		#map a.wi {
			top:140px;
			left:590px;
			width:50px;
			height:140px;
		}
		
		#map a.mi {
			top:155px;
			left:680px;
			width:50px;
			height:150px;
		}
		
		#map a.il {
			top:260px;
			left:600px;
			width:50px;
			height:90px;
		}
		
		
		#map a.mo {
			top:300px;
			left:520px;
			width:100px;
			height:90px;
		}
		
		
		#map a.ky {
			top:340px;
			left:660px;
			width:180px;
			height:40px;
		}

		#map a.ar {
			top:390px;
			left:550px;
			width:50px;
			height:80px;
		}
		
		
		#map a.tx {
			top:395px;
			left:360px;
			width:170px;
			height:250px;
		}
		
	
		
		#map a.fl {
			top:460px;
			left:740px;
			width:115px;
			height:175px;
		}
		
		
		
		
		
	